.smi{ 
height: 30px;
width: 30px; 
/* border: 1px solid rgb(73, 133, 197); */
border-radius: 50%;
 text-align: center;
}
.border-dotted-marron{ 
    border-bottom:2px dotted maroon; 
}
.bg-maroon{
    background-color: maroon;
    color: white;
}
.stick{
    position: sticky;
    z-index: 1000;
    top: 0;
    border-bottom: 2px solid;
    
}

.upper {
    background-color: rgb(190, 214, 33);
    color: white;
    text-align: center;
    padding: 6px 0;      
    margin: 0;     
        
}

.upper h2 {
    margin: 0;            
    font-size: 22px;    
    font-weight: bold;
}
.hv a{
    text-decoration: none;
    color: maroon;
}
.hv a:hover{
    color: rgb(246, 237, 226);
}
.lower {
    background-color: rgb(240,249,204);
    color: maroon;
    height: 409px;
    padding: 10px;
    overflow: hidden;
}

.lower marquee {
    height: 100%;
    scroll-behavior: smooth;
}
.bg-color{
    background-color: maroon;
    border-radius: 4px;
    font-size: 20px;
    color: white;
    height: 35px;
}
.br {
    border-top: 2px dashed maroon;
    border-bottom: 2px dashed;
    margin-bottom: 0;

}

.tx a{
    text-decoration: none;
    color: maroon;
}

.heading::after{
    content: '';
    height: 5px;
    width: 50px;
    background-color: green;
    position: absolute;
    margin-top: 45px;
    left: 50%;
}
.heading::before{
    content: '';
    height: 3px;
    width: 110px;
    background-color: gray;
    position: absolute;
    margin-top: 46px;
    left: 48%;
}
.text-maroon{
    color: maroon;
}

.pm{
    height: 300px;
    background: linear-gradient(90deg , rgba(150,0,0,0.9),rgba(150,0,0,0.9)),url('../images/bgimg.jpg');
    background-position: center;
    background-size: cover;
}


/*  slider js */

    swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #444; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .sis{
    height: 300px;
    background: linear-gradient(0deg , rgba(150,0,0,0.5),rgba(150,0,0,0.5)),url('../images/bgimg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}
.si{
    border: 1px solid black;
     height: 140px; 
     width: 140px;
    border-radius: 50%;
     
}
.si i{
    font-size: 80px;
    text-align: center;
    margin-top: 25px;
}
.si:hover{
    background-color: lightgrey;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
}
.he{
    height: 250px;
    box-shadow: 3px 6px 19px black;
}
.cr{
    width: 18rem; 
    height: 380px;
    box-shadow: 3px 6px 19px black;
}
.cr:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 3px 6px 19px whitesmoke;
}


/* Another testimonial slider start */

swiper-container {
      width: 100%;
      height: 100%;
    }

    swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #444; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
/* Another testimonial slider end */

.cri{
    width: 30rem; 
    /* height: 400px; */
    /* box-shadow: 3px 6px 19px black; */
    border: 1px solid black;
}

.het{
    height: 200px;
    width: 90px;
    /* box-shadow: 3px 6px 19px black; */
}
.het:hover{
    transform: scale(1.05);
    transition: 0.5s;
    box-shadow: 3px 6px 19px whitesmoke;
    /* zoom: 1.2; */
  
    
}

.fb{
    border-top: 2px solid white;
    width: 85%;
}
.fac a{
    text-decoration: none;
}

.sis2{
    height: 400px;
    background: linear-gradient(0deg , rgba(150,0,0,0.5),rgba(150,0,0,0.5)),url('../images/bgimg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
}


/* <!-- Gallery second repeat start --> */
.box{
    height: 300px;
    max-width: 550px;
    overflow: hidden;
}
.box-img{
    height: 100%;
    transition: 0.4s ease-in;
}
.icon{
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
    color: white;
    display: none;

}

.box:hover img{
    transform: scale(1.1);
    opacity: 0.8;
}
.box:hover .icon{
display: block;
}
/* <!-- Gallery second repeat end --> */

.btne{
    position: fixed;
    top: 300px;
    transform: rotate(90deg);
    left: -50px;
    animation: blink 2s infinite;
}
@keyframes blink{
    0%{

    }
    50%{
        background-color: maroon;
        color: white;
    }
    75%{
        background-color: rgb(237, 183, 5);
        color: maroon;
    }
    100%{
        background-color: maroon;
        color: white;
    }
}

.btnee{
    position: fixed;
    top: 550px;
    transform: rotate(90deg);
    left: 1427px;
    animation: blinks 2s infinite;
}
@keyframes blinks{
    0%{

    }
    50%{
        background-color: maroon;
        color: white;
    }
    75%{
        background-color: rgb(237, 183, 5);
        color: maroon;
    }
    100%{
        background-color: maroon;
        color: white;
    }
}
.btn-arrow{
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.smi2{
 width: 35px;
 height: 35px;
 border-radius: 50%;
 text-align: center;
 align-items: center;
 /* background-color: white; */
}

.social-icon{
    list-style: none;

}
.social-icon li a{
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    font-size: 20px;
}
